<a class="{{ is_dropdown|default(false) ? 'dropdown-item' }}  btn btn-primary" title="{{ action.title|default('') is empty ? '' : action.title|trans(trans_parameters, translation_domain) }}" href="{{ action_href }}">
    <i class="fa fa-fw fa-list"></i>
    {{ 'Tasks'|trans(arguments = trans_parameters|merge({ '%entity_id%': item_id }), domain = translation_domain) }}
</a>
